<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
    <meta charset="UTF-8">
    <title>RandomForest</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

    <style>
        input[type="number"] {
            width: 15%;
            height: 25px;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
 <div>
	<h1>Random Forest Model</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
        <h2>Course Grades</h2>
    	<input type="number" step="1" min="0" max="20" name="ARTE_CULTURA_E_IDENTIDAD_LOCAL_Y_REGIONAL" placeholder="ARTE_CULTURA_E_IDENTIDAD_LOCAL_Y_REGIONAL" required="required"/>
    	<input type="number" step="1" min="0" max="20" name="COMUNICACION_Y_RAZONAMIENTO_VERBAL" placeholder="COMUNICACION_Y_RAZONAMIENTO_VERBAL" required="required"/>
    	<input type="number" step="1" min="0" max="20" name="DESARROLLO_PERSONAL_CIUDADANIA_Y_CIVISMO" placeholder="DESARROLLO_PERSONAL_CIUDADANIA_Y_CIVISMO" required="required"/>
    	<input type="number" step="1" min="0" max="20" name="EMPRENDIMIENTO" placeholder="EMPRENDIMIENTO" required="required"/>
    	<input type="number" step="1" min="0" max="20" name="INGLES" placeholder="INGLES" required="required"/>
    	<input type="number" step="1" min="0" max="20" name="MATEMATICA_Y_RAZONAMIENTO_MATEMATICO" placeholder="MATEMATICA_Y_RAZONAMIENTO_MATEMATICO" required="required"/>
    	<input type="number" step="1" min="0" max="20" name="QUIMICA" placeholder="QUIMICA" required="required"/>
    	<input type="number" step="1" min="0" max="20" name="BIOLOGIA" placeholder="BIOLOGIA" required="required"/>
    	<input type="number" step="1" min="0" max="20" name="FISICA" placeholder="FISICA" required="required"/>
    	<input type="number" step="1" min="0" max="20" name="HISTORIA_UNIVERSAL_NACIONAL_REGIONAL_Y_LOCAL" placeholder="HISTORIA_UNIVERSAL_NACIONAL_REGIONAL_Y_LOCAL" required="required"/>

        <h2>Kuder Test</h2>
        <h3>Area A</h3>
    	<input type="number" step="1" min="6" max="30" name="AIRE_LIBRE" placeholder="AIRE_LIBRE" required="required"/>
        <h3>Area B</h3>
    	<input type="number" step="1" min="6" max="30" name="MECANICO" placeholder="MECANICO" required="required"/>
        <h3>Area C</h3>
    	<input type="number" step="1" min="6" max="30" name="CALCULO" placeholder="CALCULO" required="required"/>
        <h3>Area D</h3>
    	<input type="number" step="1" min="6" max="30" name="CIENTIFICO" placeholder="CIENTIFICO" required="required"/>
        <h3>Area E</h3>
    	<input type="number" step="1" min="6" max="30" name="PERSUASIVO" placeholder="PERSUASIVO" required="required"/>
        <h3>Area F</h3>
    	<input type="number" step="1" min="6" max="30" name="ARTISTICO_PLASTICO" placeholder="ARTISTICO_PLASTICO" required="required"/>
        <h3>Area G</h3>
    	<input type="number" step="1" min="6" max="30" name="LITERARIO" placeholder="LITERARIO" required="required"/>
        <h3>Area H</h3>
    	<input type="number" step="1" min="6" max="30" name="MUSICAL" placeholder="MUSICAL" required="required"/>
        <h3>Area I</h3>
    	<input type="number" step="1" min="6" max="30" name="SERVICIO_SOCIAL" placeholder="SERVICIO_SOCIAL" required="required"/>
        <h3>Area J</h3>
    	<input type="number" step="1" min="6" max="30" name="OFICINA" placeholder="OFICINA" required="required"/>

        <h2>CAPS Test</h2>
        <h3>Enneatypes</h3>
        <input type="number" step="1" min="1" max="9" name="1MR" placeholder="1MR" required="required"/>
        <input type="number" step="1" min="1" max="9" name="2SR" placeholder="2SR" required="required"/>
        <input type="number" step="1" min="1" max="9" name="3VR" placeholder="3VR" required="required"/>
        <input type="number" step="1" min="1" max="9" name="4NA" placeholder="4NA" required="required"/>
        <input type="number" step="1" min="1" max="9" name="5LU" placeholder="5LU" required="required"/>
        <input type="number" step="1" min="1" max="9" name="6WK" placeholder="6WK" required="required"/>
        <input type="number" step="1" min="1" max="9" name="7PSA" placeholder="7PSA" required="required"/>

        <button type="submit" class="btn btn-primary btn-block btn-large">Request</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}
   {{ accuracy_text }}
 </div>


</body>
</html>